{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<a href="{% url 'profile' %}" class="btn btn-outline-primary my-3 mx-4">Go Back</a>
<div class="row">
    <div class="col-11 col-md-4 mx-auto mt-5">
        <h1>Update Profile</h1>
        <div class="card border-0 shadow-sm rounded p-4">
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-3">
                    <button type="submit" class="btn btn-outline-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
